*{
    box-sizing: border-box;
}

body{
    background-color: #cccccc;
    font-family: sans-serif;
    margin: 0 auto;
}

header{
    background-color: #120323;
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

header nav{
    background-color: #d9043d;
    color: #ffffff;
}

header nav ul{
    display: flex;
    flex-direction: row;
    list-style: none;
    align-items: center;
    justify-content: center;
    margin: rem auto;
}

header nav li{
    padding: 0 1.5rem;
}

header nav a{
    text-decoration: none;
    color: #ffffff;
}


/* 
The site uses a sans-serif font
The page background colour is #cccccc
header background color: #120323
company name & image bottom border: #97bf04
navigation & footer background colour: #d9043d
Any spacing not defined can be estimated
Ensure you don't use pixels for anything other than image widths and border sizes. All other units should be relative (rem, em, %, etc.)
Each photo has a 10px border on the bottom
Each gallery image should scale according to the size of its container, up to 650px in width, and be centered in its container 
*/